<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="AgricultureEntities" connectionString="metadata=res://*/App_Data.Agriculture.csdl|res://*/App_Data.Agriculture.ssdl|res://*/App_Data.Agriculture.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WIN-SFQSOMMDDVS;initial catalog=Agriculture;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="myBinding" crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="WcfService1.Service1"
               behaviorConfiguration="ServiceBehavior">
        <endpoint address=""
                  binding="webHttpBinding" behaviorConfiguration="myBehavior" bindingConfiguration="myBinding"                 
                  contract="WcfService1.IService1" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <useRequestHeadersForMetadataAddress />
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="myBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="false" aspNetCompatibilityEnabled="false" />
  </system.serviceModel>
  <system.webServer>
    <directoryBrowse enabled="true"/>
    <modules runAllManagedModulesForAllRequests="false"/>
  </system.webServer>  
</configuration>
